{% extends 'base.html' %}
{% block base %}
    <script>
    var aud=$('#audio')
    aud.onended=function () {
        alert('播放结束')
    }
    function delete_playlist(musicid) {
        if (confirm("确认要删除？")) {
            $.get('/playlist_delete/?musicid='+musicid,function (jieguo) {
                if(jieguo.data==1){
                    window.location.reload()
                }else{
                    alert('删除失败')
                }
            })
        }
    }
    function play(musicid) {
        $.get('/playmusic/?musicid='+musicid,function (jieguo) {

                $('#src').html('<audio autoplay controls id="audio"> <source src='+jieguo.src+ ' type="audio/mpeg"> </audio>')

        })
    }
    </script>
<div class="panel panel-success" style="width: 1000px;margin: 10px auto">
  <div class="panel-heading">我的播放列表</div>
  <div class="panel-body">
<ul class="list-group">
{% for music in data %}
  <li class="list-group-item"><a href="/detail{{ music.music.id }}_info">{{ music.music.name }}</a>
      <input class="player_c" type="image" src="/static/media/icon/play.png" style="float: right" onclick="play({{ music.music.id }})">
  <input class="" type="image" src="/static/media/icon/icon_cha.png" style="float: right" onclick="delete_playlist({{ music.music.id }})"></li>
{% endfor %}
<li id="src" class="list-group-item"></li>
</ul>
  </div>
</div>
{% endblock base %}