{% extends 'base.html' %}
{% block base %}
    <div  align="center" style="margin: 100px auto">
    <img src="/static/media/icon/logo_title.png">
        </div>
    <div class="input-group" style="margin: 100px auto;width: 800px">
    <form method="get" action="/search/"><span class="input-group-btn">
    <input type="text" class="form-control" id="content" placeholder="搜索音乐名称或专辑名称杀手" name="q">
        <button type="submit" class="btn btn-default">搜索</button></span>
    </form>
</div>

{% endblock base %}